{% extends 'management/base.html' %}

{% block content %}
<header>
	<nav>
		<ul>
			<li><a href="{% url 'home' %}">Home</a></li>
			<li><a href="{% url 'services' %}">Services</a></li>
			<li><a href="{% url 'pricing' %}">Pricing</a></li>
			<li><a href="{% url 'about-us' %}">About Us</a></li>
			<li><a href="{% url 'contact' %}">Contact</a></li>
		</ul>
	</nav>
	<h1>Social Media Management</h1>
	<p>We help businesses to grow and engage their audience on social media</p>
	<a href="{% url 'pricing' %}" class="btn">Get Started</a>
</header>
{% endblock %}
