{% extends 'management/base.html' %}

{% block content %}
<section class="services">
	<h2>Our Services</h2>
	<p>We offer a range of social media management services:</p>
	<ul>
		<li>Social media strategy development</li>
		<li>Social media account setup and management</li>
		<li>Social media advertising</li>
		<li>Social media analytics and reporting</li>
		<li>Social media content creation and management</li>
	</ul>
	<a href="{% url 'pricing' %}" class="btn">Learn More</a>
</section>
{% endblock %}
